body {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.sudoku-game {
    display: flex;
    flex-wrap: wrap;
}

.sudoku-segment {
    border: 1px solid gray;
    margin: 1px;
    padding: 1px;
    width: calc( 100% / 3 - 6px );
    height: calc( 100% / 3 - 6px );
    display: flex;
    flex-wrap: wrap;
    background: #d5fbff;
}

/* #myBtn {
  background-color: #9C27B0;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 180px;
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 0;
}